body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

 /* .no{
    display: none;
 } */
/* .visi{
    display: block !important; 
 } */

/* siup & login */
.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signupPosi{
    position: absolute;
    top: 79px;
}

.form-container {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.form-container h2 {
    margin-bottom: 20px;
}

.form-container label {
    display: block;
    text-align: left;
    margin-bottom: 8px;
    font-weight: bold;
    margin-left: 6px;
}

.form-container input {
    width: 93%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.buttons button {
    width: 48%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.buttons button:hover {
    background-color: #45a049;
}

.buttons .btn-admin {
    background-color: #f44336;
}

.buttons .btn-admin:hover {
    background-color: #e53935;
}

.login-link {
    margin-top: 20px;
}

.login-link a {
    color: #007BFF;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}


/* Navbar */
.navbar{
    background: white;
    box-shadow: 0px 3px 6px #e0e0e0;
}
.navbar-brand{
    color: #E21B70;
    font-size: 23px;
}
.navbar-brand:hover{
    color: #E21B70;
}
.navbarImg{
    height: 35px;
    width: 35px
}
.my-badge{
    background-color: #e21b71bf;
    color: white;
    position: absolute;
    top: 3px;
    right: 21px;
    font-size: 17px;
    width: 24px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
}

.btn{
    border: 2px solid #e21b70;
    color: white;
}

#signup, #checkoutbtn, #addtocartbtn, #orderbtn{
    background-color: #E21B70;
    font-weight: 700;
}
#signup:hover, #checkoutbtn:hover, #addtocartbtn:hover, #orderbtn:hover{
    color: #fff;
}
#login{
    color: #E21B70;
}
#login:hover{
    border: 2px solid #e21b70;
}
.fa-user, .fa-utensils{
    /* display: none !important; */
    color: #E21B70;
    font-size: 35px !important;
    cursor: pointer;
}

@media (max-width: 500px) {
    .btns{
        display: none !important;
    }
    #addtocartbtn{
        font-size: 9px !important; 
    }
    .fa-arrow-right-long{
        font-size: 11px !important;
        vertical-align: middle !important;
    }
    .navbarImg{
        margin-left: 0px !important;
    }
    h3{
        text-align: center;
    }
}

/* section */
section{
    padding-right:30px !important;
    padding-left:30px !important;
}
.sec1{
    padding-top: 70px;
    position: relative;
}
.img1{
    height: 385px;
}

/*  */
.divCard > div{
    height: 300px;
    width: 303px;
    position: relative;
    margin-bottom: 10px;
}
.img2{
    border-radius: 10px;
    height: 100%;
    width: 100%;
}
.cityName{
    border: none;
    outline: none;
    background-color: #fff;
    border-radius: 7px;
    padding: 6px 19px !important;
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 19px;
}
.sec3{
    background-color: #E21B70;
}

.img3{
    height: 450px;
}

.img4{
    height: 100%;
    width: 100%;
}
.sec3div{
    height: 90px;
}
.downloadimg > div{
    height: 115px;
}


@media (max-width: 600px) {
    .sec3{
        flex-direction: column;
    }
    .img3{
        width: 300px;
        height: auto;
    }
    .ch{
        flex-direction: column;
    }
    iframe{
        height: auto;
        width: auto;
    }
    .div1 > div{
        width: 321px;
    }
    .navbarCart{
        justify-content: center !important;
    }
    .totalCart{
        width: auto !important;
        margin: 14px !important;
    }

}
/*  */

footer{
   padding: 10px;
    background-color: #eddddd24;
}
.fa-brands{
    font-size: 29px;
    padding: 0 8px;
    color: #E21B70;
}
.footP{
    font-size: 29px;
    font-weight: bolder;
    padding: 0 8px;
    margin-bottom: 3px;
    color: #e21b71b3;
    font-family: auto;
}

li{
    list-style: none;
    font-size: 18px;
    padding: 6px 15px;
    color: #E21B70;
    text-align: justify;
}


.cartdiv{
    margin-top: 75px;
}
.img5{
    height: 75px;
    width: 100px;
    margin-bottom: 9px;
}
.cartbtns{
    background-color: #E21B70;
    height: 34px;
    padding: 0px 13px;
    color: white;
    font-size: 21px;
    border-radius: 7px;
}
#plusbtn, #minusbtn{
    background-color: #E21B70;
    color: white;
}
.cartbtn{
    height: fit-content;
    border: none;
    outline: none;
    background-color: white;
}
.cartp{
    font-size: 18px;
    font-weight: 650;
    margin-bottom: 8px !important;
}
.totalCart{
    border-radius: 10px;
    padding: 10px 0;
    width: 400px;
    margin: auto;
    background-color: #e6498d;
    color: white;
}
.totalCart > p{
    font-size: 24px;
    font-family: auto;
}
.totalCart div {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.898) 0px 0px 0px 1px;
}
.totalbox > p{
    font-size: 22px;
    margin-bottom: 7px;
    font-family: auto;
}
.fa-arrow-right-long{
    font-size: 24px;
    vertical-align: middle;
}
#checkoutbtn{
    height: 47px;
    padding: 0 8px;
}

/* checkout page */
.checkoutDiv{
    border: 1px solid black;
    height: auto !important;
    width: 400px;
    padding: 10px 27px;
}
.checkoutSec{
    margin-top: 75px;      
    background-color: #eddddd24;
}
#checkoutFormInp{
    padding: 4px 0;
}
.checkoutlabel{
    font-size: 19px;
    font-family: auto;
}
.fa-regular, .fa-solid{
    font-size: 26px;
    padding: 0 5px;
    color: #E21B70;
}
.loader{
    width: 95px;
}
.loader-container{
    background-color: #E21B70;
}


/* home page */
.homeSec1{
    margin-top: 5%;
    padding-left: 15px !important;
}

.homeCardSec{
    border: 1px solid rgb(104, 104, 104);
    width: 300px;
}

.homeCardSec:hover{
    border: none;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.cardImg{
    height: 180px;
    width:  298px;
}
.addtoCartimg, .fa-bag-shopping{
    font-size: 17px;
    background-color: #E21B70;
    padding: 2px 7px;
    height: fit-content;
    color: white;
    cursor: pointer;
}
.col{
    color: #E21B70;
}
.font{
    font-family: auto;
}


/*  */

.slide-container{
    width: 100%;
}
.slide-content{
    margin: 0px 40px;
    overflow: hidden;
    border-radius: 25px;
}

.cardcrousel{
    border-radius: 25px;
    background-color: #fff;
    height: auto !important;
}
.crouselCart{
    position: relative;
    top: -16px;
    left: 15px;
    width: fit-content;
    border: none;
    outline: none;
    padding: 0;
}

.image-content, .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}
.image-content{
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}

.cardslidewidth{
    width: 396px !important;
    padding: 3px;
}
.ca{
    height: fit-content;
    border: none;
    outline: none;
    padding: 0px;
}
.ca > span {
    padding: 6px;
}
@media (max-width: 500px) {
    .cardslidewidth{
        width: 306px !important;
    }
    .cardF2Size{
        font-size: 71% !important;
    }
    .crouselCart{
        margin-top: 11px;
    }
}
.w{
    width: 80% !important; 
}
.cardFSize{
    font-size: 17px;
    font-family: cursive;
}
.cardF2Size{
    font-size: 14px;
    color: #707070;
    font-family: cursive;
}

.card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.name{
    font-size: 18px;
    font-weight: 550;
    color: #333;
}
.description{
    font-size: 15px;
    color: #707070;
    text-align: center;
}

.btn4{
    border: none;
    font-size: 16px;
    color: #fff;
    padding: 8px 16px;
    background-color: #9B7E5C;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.btn4:hover{
    background: #9B7E5C;
}
.swiper-button-prev, .swiper-button-next{
    color: #9B7E5C;
}

@media (max-width: 768px) {
    .slide-content{
        margin: 0 10px;
    }
    .swiper-navBtn{
        display: none;
    }
}
.swiper-button-next{
    right: 0;
}
.swiper-button-prev{
left: 0;
}


/*  */
.price{
    font-size: 21px;
}
.price1{
    font-size: 18px;
    font-family: sans-serif;
}
.prod{
    border: 1px solid #D2B298;
    width: 190px;
}
.imgprod > img{
    height: 300px;
}

.icon{
    margin: auto;
    margin-right: 20px;
    width: 40px;
    border: 2px solid rgba(0, 0, 0, 0.507);
    font-size: 20px;
    border-radius: 10%;
    cursor: pointer;
}
.fa-arrow-up{
    font-size: 28px;
}
.footer{
    color: white !important;
}
.inp{
    padding: 9px 10px;
    width: 250px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.btn2{
    padding: 6px 29px;
    border: none;
    outline: none;
    color: white;
    background-color: #9B7E5C;
}
.fab, .fas{
    color: #9B7E5C;
}


.car{
    width: -webkit-fill-available !important;
}